* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #4646cc, #7b2c9b);
    width: 100%;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.sidebar button {
    font-size: 1.2em;
    margin: 3px 10px;
    color: white;
    background-color: #4646cc;
    border: none;
    min-height: 30px;
    min-width: 100%;
    border-radius: 5px;
    width: 100%;
}

.sidebar button:hover {
    background-image: linear-gradient(to right, #4646cc, #7b2c9b);
}

.content {
    flex-grow: 1;
}

.current-weather {
    margin: 10px 15px;
    border: 1px solid black;
    background-color: #e4e4e4;
}

hr {
    margin: 10px;
    width: 100%;
}

.previous-search button {
    background-color: rgb(145, 145, 145);
    margin: 5px 10px;
}

.five-day-content {
    margin-left: 15px;
}

.five-day-forecast {
    display: flex;
}

.day-info {
    background-color: #1f456b;
    color: white;
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

img {
    width: 50px;
}

h2 {
    margin: 10px;
}

input {
    font-size: 1.2em;
    margin: 3px 10px;
    min-height: 40px;
    min-width: 100%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

ul {
    margin: 5px;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 1.25em;
    margin: 10px 0;
}

.uvi-low {
    color: white;
    background-color: green;
}

.uvi-moderate {
    color: white;
    background-color: yellow;
}

.uvi-high {
    color: white;
    background-color: orange;
}

.uvi-very-high {
    color: white;
    background-color: red;
}

.uvi-extreme {
    color: white;
    background-color: purple;
}